.el-cardAll{
    .el-form-item__label{
        color: white !important;
    }
    .el-form-item__label{
        padding: 0 38px 0 0;
    }
    .el-input{
        width: 93%;
    }
    ..el-button+.el-button(
        margin-left: 36px;
    )
}